@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    border:0;
}
.courses{
    padding-top: 10px;
}
.navbar-brand img{
    margin-left: 20px;
}
.nav-item{
    color:#5c256e;
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 20px;
    padding-right: 30px;
}
.nav-link:hover{
    transform: scale(1.05);  
}
.btn:hover {
    transform: scale(1.03);
}
.navbar{
    
    font-family: 'Nunito';
}

.dropdown-menu{
    position: relative;
    display: inline-block;
    
}
.dropdown-menu:hover .dropdown-item{
    display: block;
}

.dropdown-item{
    display: none;
    position: relative;
    background-color:rgb(255, 255, 255);
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(177, 177, 177, 0.479);
    padding: 5px;
    margin-right: 10px;
    z-index: 1;

}
.dropdown-menu a:hover {background-color:#5c256e;color: aliceblue;
}

.nav-item:hover::after{
    color: #FAA21B;
}
.navbar-nav {
    margin-left: auto;
}
.heading{
    color:#5c256e;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Nunito';
    padding-top:10px ;
    animation: color-change 1s infinite;
}
@keyframes color-change {
    0% { color: rgb(73, 10, 133); }
    50% { color: rgb(233, 67, 255); }
    100% { color: rgb(73, 10, 133); }
}

/*
    .nav-item a:after {
        content: " ";
        position: absolute;
        display: block;
        bottom: 0;
        right: -130%;
        height: 5px;
        width: 100%;
        background: rgb(181, 103, 255);
        transition: .5s ease all;
    }
    .nav-item a:hover:after {
       right: 0;
    }
      */